<footer>
    <div class="d-flex flex-wrap justify-content-between align-items-center">

        <div class="col-md-4 d-flex align-items-center">
            <span class="mb-3 mb-md-0">© 2022 Company, Inc</span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3">
                <a href="{{ site.github_url }}" target="_blank"
                   title="{{ site.github_url | escape }}">
                    <i class="fs-5 fa-brands fa-github"></i>
                </a>
            </li>
            <li class="ms-3">
                <a href="{{ 'feed.xml' | relative_url }}">
                    <i class="fs-5 fa-solid fa-square-rss"></i>
                </a>
            </li>
        </ul>
    </div>
</footer>