<footer>
    <div class="d-flex flex-wrap justify-content-between align-items-center">

        <div class="d-flex align-items-center">
            <script type="text/javascript" src="//counter.websiteout.net/js/21/8/0/1"></script>
        </div>

        <div class="d-flex align-items-center">
            &copy; 2022 Company, Inc
        </div>

        <ul class="nav justify-content-end list-unstyled d-flex">
            <li class="ms-3">
                <a href="{{ site.github_url }}" target="_blank"
                   title="{{ site.github_url | escape }}">
                    <i class="fs-5 fa-brands fa-github"></i>
                </a>
            </li>
            <li class="ms-3">
                <a href="{{ 'feed.xml' | relative_url }}">
                    <i class="fs-5 fa-solid fa-square-rss"></i>
                </a>
            </li>
        </ul>
    </div>
</footer>